
/* universal callout dicates the container our content will sit in on the webpage as whole*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* adds the cream background color to the whole body which lays behind the blue boxes and main photo*/
body {
    background-color: #d9dcd6;
}
/* this is styling the header on the webpage, giving it the blue box and adding font family*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* these next two sections h1 and h1 seo are styling the h1 and span element within the h1 giving it a secific font size and disctaing how much of the space to take up, the seo part giving a color to just those letters in the h1*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}


.header h1 .seo {
    color: #d9dcd6;
}

/* these next 2 sections are calling out just the section that has our ul, giving the section a separate space to occupy in the same area of the webpage. The li callout is dictating how the list items will be dispalyed within the section */
.header section {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header section li {
    display: inline-block;
    margin-left: 25px;
}

/* this a call out is giving a color to the text in the anchord links the li items are referencing instead of it being underlined blue*/
a {
    color: #ffffff;
    text-decoration: none;
}

/* this p callout gives a font size to all the text in the pragraphs or p elements*/
p {
    font-size: 16px;
}

/* this callout is referencing the hero calss which holds the main photo on our webpage and gives the photo sizing and display properties*/
.hero {
    height: 1200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* these next two callouts reference the images we have in the description section, telling them to be to the right or left of the container theyre in and how ,much space should be left between the images and the words*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* this call out holds all 3 of our description boxes and gives that entire section a specfied area to fill on the screen*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* this callout is how we styled the blue boxes that hold each image and paragraph. The next one tell the images within each box the biggest they can be. the last callout within the description section tells the header for each blue box the font size and how much space to leave aroud it*/
.description {
    margin-bottom: 20px;
    padding: 62.5px;
    height: 350px;
    font-family: 'Gill Sans','Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.description img{
    max-height: 225px;
}

.description h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* this call out holds all of our benfit types and gives that entire section a specfied area to fill on the screen as well as gives style by adding the blue background and changing font type*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 1200;
    font-family: 'Gill Sans', 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* this calls out each indivdual resource and gives them a separate are to occupy within the blue box to the right of the webpage*/
.benefit-resources {
    margin-bottom: 32px;
    color: #ffffff;
}

/* these next two sections call out the titles and images of each recource giving them proper placment and sizing within their respective spaces*/
.benefit-resources h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-resources img {
    display: block;
    margin: 10px auto;
    max-width: 200px;
}

/* this calls out the footer class and adds a small space at the bottom of the page*/
.footer {
    padding: 30px;
    clear: both;
}